<div>
    <h3>Create new field</h3>
    <table>
        <tr>
            <td><label for="new-field-name">Field name: </label></td>
            <td><input type="text" id="new-field-name" #fieldName></td>
        </tr>
        <tr>
            <td><label for="new-field-size">Field size: </label></td>
            <td><input type="number" id="new-field-size" #fieldSize></td>
        </tr>
        <tr>
            <td><label for="new-animal-count">Animal count: </label></td>
            <td><input id="new-animal-count" #animalCount></td>
        </tr>
        <tr>
            <td><label for="new-field-crop-type">Crop Type: </label></td>
            <td><input id="new-field-crop-type" #cropType></td>
        </tr>
        <tr>
            <td><label for="new-field-status">Status: </label></td>
            <td><input id="new-field-status" #status></td>
        </tr>
        <tr>
            <td><label for="new-change-date">Last change: </label></td>
            <td><input id="new-change-date" #changeDate></td>
        </tr>
    </table>
    
</div>